.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
    /* margin: 0 50px; */
}

.header-container img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin-left: 50px;
}

.header-container svg {
    margin-right: 70px;
    color: #8AA29E;
    width: 30px;
    height: 30px;
}