.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
    /* margin: 0 50px; */
}

.header-container img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin-left: 50px;
}

.header-container svg {
    color: #8AA29E;
    width: 30px;
    height: 30px;
}

@media screen and (max-width:650px) {
    .header-container img {
        width: 140px;
        margin-left: 25px;
    }

    .header-container svg {
        width: 20px;
        height: 20px;
        margin-right: 50px;
    }
}