.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFD7D7;
}

.home main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFD7D7;
}


