#root {
    height: 100%;
}

.Home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: unset;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FFD7D7;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.home main {
    height: 100%;
}

