.postform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    color: #4E5166;
}

.post-title {
    font-family: 'Arimo', 'Open Sans', sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.post-title::after {
    content: "";
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #4E5166;
    color: black;
}

.contentOfPost {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4E5166;
    border: 2px solid #8AA29E;
    border-radius: 5px;
    padding: 7px;
    resize: none;
}

.contentOfPost:focus-visible {
    outline: none;
}

.container-image-input {
    width: 80%;
    border: 2px solid #8AA29E;
    border-radius: 5px;
    padding: 7px;
}

.label-string {
    font-size: 15px;
    margin: 0;
}

.insert-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.fileIcon {
    font-size: 20px;
}

/* .imageOfPost {
    
} */

.btn-post {
    font-size: 18px;
    font-weight: 100;
    color: #FFFFFF;
    background-color: #FD2D01;
    border-style: none;
    padding: 10px 25px;
    border-radius: 3px;
    margin-top: 15px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 200ms ease-in;
}

.btn-post:hover {
    transform: scale(1.10);
}