.post {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #4E5166;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0;
    width: 590px;
}

.post-infos {
    padding-left: 20px;
    line-height: 5px;
}

.post-infos-name {
    font-size: 18px;
    margin: 0;
}

.post-infos-date {
    font-size: 14px;
}

.post-message {
    padding: 0 20px;
}

.post img {
    width: 100%;
    height: 590px;
    margin-bottom: 10px;
}

.pouceBleu {
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.threeDots {
    width: 1.2rem;
    height: 1.2rem;
    padding: 7px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.threeDots:hover {
    background-color: rgba(138, 162, 158, 0.5);
    border-radius: 20px;
}

.popup-options-content {
    color: #FFD7D7;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 45px;
}

.delete {
    cursor: pointer;
    transition: all 200ms ease-in;
}

.delete:hover {
    color: #FD2D01;
    border-bottom: solid 2px #FD2D01;
}

.modify {
    cursor: pointer;
    transition: all 200ms ease-in;
}

.modify:hover {
    color: #FD2D01;
    border-bottom: solid 2px #FD2D01;
}

.contentOfPost {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4E5166;
    border: 2px solid #8AA29E;
    border-radius: 5px;
    padding: 7px;
    resize: none;
    margin: 0 20px 10px 20px;
}

.container-image-input {
    margin: 0 20px 15px 20px;
}

.btn-save {
    font-size: 18px;
    font-weight: 100;
    color: #FFFFFF;
    background-color: #FD2D01;
    border-style: none;
    padding: 10px 25px;
    border-radius: 3px;
    margin-top: 15px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 200ms ease-in;
    margin: 0 0 15px 30px;
}

.btn-save:hover {
    transform: scale(1.10);
}